/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Noto+Sans+TC:wght@400;600;800&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  display: block;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  border: none;
}

body {
  color: #f5f5f5;
  font-family: "Noto Sans TC", sans-serif;
}

.title_big {
  font-family: "Alfa Slab One", "Noto Sans TC";
  letter-spacing: 1px;
  color: #ff6339;
  font-size: 32px;
  text-align: center;
}

.title_md {
  font-size: 28PX;
  font-weight: 600;
  margin-bottom: 40px;
}

.title_sm {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

p {
  line-height: 1.6;
}

.important-text {
  font-weight: 600;
  color: #ff6339;
  display: inline-block;
}

.title_header {
  font-family: "Alfa Slab One";
  font-size: 28px;
  color: #ff6339;
}

.scroll-nav {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.text-center {
  text-align: center;
}

.wrapper {
  font-size: 16px;
  background-image: url(../images/bg.jpg);
  background-size: cover;
  background-position: top 0 left 0%;
}

section {
  max-width: 1920px;
  width: 100%;
  padding: 80px 18.75vw;
}
@media screen and (max-width: 768px) {
  section {
    padding: 80px 10vw;
  }
}
@media screen and (max-width: 428px) {
  section {
    padding: 40px 5vw;
  }
}

a {
  color: #f5f5f5;
}

.image {
  font-size: 0;
}
.image img {
  width: 100%;
}

.line {
  width: 80px;
  height: 2px;
  background-color: #ff6339;
  margin: 12px auto 40px;
}

.none {
  display: none;
}

.text_circle {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 28px;
  height: 28px;
  border-radius: 4px;
  background-color: rgba(255, 99, 57, 0.5);
  margin-right: 16px;
}

@keyframes bounce {
  25% {
    transform: translateY(0.25rem);
  }
  75% {
    transform: translateY(-0.25rem);
  }
}
.header {
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;
  max-width: 1920px;
  padding: 0 10vw;
  font-size: 20px;
  background-color: whitesmoke;
  box-shadow: 0 2px 20px rgba(51, 51, 51, 0.2);
  transition: height 0.3s, background-color 0.3s;
}
@media screen and (max-width: 428px) {
  .header {
    padding: 0 5vw;
  }
}
.header.scrolled {
  height: 48px;
  background-color: rgba(245, 245, 245, 0.9);
}

.header_bar {
  width: 32px;
  height: 32px;
  border-radius: 16%;
  cursor: pointer;
  transition: 0.3s;
  border: solid 1px #ff6339;
  font-size: 20px;
  color: #ff6339;
}
.header_bar:hover {
  background-color: #ff6339;
  color: #f5f5f5;
}
@media screen and (max-width: 768px) {
  .header_bar {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.header_menu_list {
  display: flex;
}
@media screen and (max-width: 768px) {
  .header_menu_list {
    transition: transform 0.5s ease;
    position: absolute;
    left: 0;
    bottom: 100px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    border-top: solid 1px #ccc;
  }
}
.header_menu_list li {
  padding: 12px;
}
@media screen and (max-width: 768px) {
  .header_menu_list li {
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
.header_menu_list .scroll-nav {
  color: #333;
  transition: 0.3s;
}
.header_menu_list .scroll-nav:hover, .header_menu_list .scroll-nav:active {
  color: #ff6339;
}
@media screen and (max-width: 768px) {
  .header_menu_list .scroll-nav {
    width: 100%;
    padding: 20px;
    text-align: center;
    background-color: #f5f5f5;
  }
  .header_menu_list .scroll-nav:hover, .header_menu_list .scroll-nav:active {
    background-color: rgba(238, 238, 238, 0.9529411765);
  }
}

.fa-chevron-down {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f5f5f5;
  border: solid 1px #f5f5f5;
  transition: 0.5s;
}
.fa-chevron-down:hover {
  color: #ff6339;
  border-color: #ff6339;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px;
}
.home .scroll-nav {
  animation: bounce 0.6s infinite;
}

.lead {
  padding: 8px 0;
  margin-bottom: 60px;
}

.photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin: 120px 0 80px;
}

.myName {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 600;
  padding: 20px 0;
  margin-bottom: 0;
}

.section_skills {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skill_block {
  width: 100%;
  border: solid 5px rgba(245, 245, 245, 0.2);
  border-radius: 16px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
@media screen and (max-width: 500px) {
  .skill_block {
    margin-bottom: 20px;
  }
}
.skill_block.back-end, .skill_block.software-dev {
  width: 46%;
  margin: 40px 0;
}
@media screen and (max-width: 500px) {
  .skill_block.back-end, .skill_block.software-dev {
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
  }
}
.skill_block ul {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.skill_block li {
  display: flex;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 20px;
}
.skill_block li i {
  width: 32px;
  font-size: 28px;
  margin-right: 12px;
  color: rgba(255, 99, 57, 0.5);
}
.skill_block li .skill_logo {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  border-radius: 4px;
  margin-right: 20px;
  background-color: rgba(255, 99, 57, 0.5);
}

@media screen and (max-width: 768px) {
  .portfolio {
    padding: 40px 10vw;
  }
}
.portfolio .card {
  display: flex;
  max-width: 720px;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .portfolio .card {
    flex-direction: column;
  }
}
.portfolio .card:hover .image {
  left: 0;
  opacity: 1;
}
.portfolio .card:hover .title_big {
  left: 0;
}

.portfolio-item {
  margin-bottom: 80px;
}
.portfolio-item.project2 {
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  .portfolio-item {
    padding-bottom: 40px;
    border-bottom: solid 1px rgba(245, 245, 245, 0.5);
  }
}
.portfolio-item .card_image {
  position: relative;
}
.portfolio-item .card_image .fa-eye {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  color: #f5f5f5;
  font-size: 20px;
  background-color: rgba(255, 99, 57, 0.5);
  padding: 8px;
  border-radius: 12px;
}
.portfolio-item .image {
  transition: 0.5s;
  position: relative;
  left: 50px;
  opacity: 0.5;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .portfolio-item .image {
    left: 0;
    opacity: 1;
    width: 280px;
    height: 280px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(255, 99, 57, 0.3);
    margin: 0 auto;
  }
}
.portfolio-item .image img {
  width: auto;
}
@media screen and (max-width: 768px) {
  .portfolio-item .image img {
    width: 100%;
  }
}
.portfolio-item .title_big {
  transition: 0.8s;
  color: #f5f5f5;
  font-size: 36px;
  text-align: left;
  position: relative;
  left: -80px;
  white-space: nowrap;
}
@media screen and (max-width: 768px) {
  .portfolio-item .title_big {
    left: 0;
    margin: 0 auto 32px;
  }
}
.portfolio-item .portfolio-description {
  padding: 32px 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 50%;
}
@media screen and (max-width: 768px) {
  .portfolio-item .portfolio-description {
    width: 100%;
    padding: 32px 0 0;
  }
}
.portfolio-item .btns {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1000px) {
  .portfolio-item .btns {
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .portfolio-item .btns {
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
  }
}
.portfolio-item .btn {
  display: flex;
  align-items: center;
  white-space: nowrap;
}
@media screen and (max-width: 1000px) {
  .portfolio-item .btn {
    margin-bottom: 10px;
  }
}
.portfolio-item .btn:hover i {
  color: #ff6339;
  transition: 0.5s;
}
.portfolio-item .btn p {
  margin-right: 20px;
}
.portfolio-item .btn i {
  font-size: 24px;
  margin-right: 24px;
}

.project-info {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project-info .line {
  background-color: #fff;
  margin-bottom: 20px;
  margin-top: 12px;
}
.project-info .title_sm {
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.project-info .title_sm:hover {
  cursor: pointer;
}
.project-info .title_sm:hover i {
  animation: bounce 0.5s infinite;
  color: #ff6339;
}
.project-info .title_sm i {
  margin: 0;
  border: none;
  font-size: 12px;
}
.project-info .tools {
  width: 100%;
  text-align: center;
}
.project-info .tools p {
  color: #ff6339;
}
.project-info .methods {
  line-height: 1.6;
  width: 100%;
}
.project-info ol {
  max-width: 720px;
  margin: 0 auto;
}
.project-info li {
  display: flex;
  align-items: flex-start;
  padding-bottom: 12px;
}

.gizmo {
  padding: 40px 10vw;
  position: relative;
}
.gizmo::after {
  content: "";
  width: 100%;
  height: 100%;
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 10%, rgba(0, 0, 0, 0.1) 20%, rgba(0, 0, 0, 0.1) 80%, rgba(0, 0, 0, 0.8) 90%, rgb(0, 0, 0) 100%);
}

.gizmo_theme {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.gizmo_item {
  width: 25%;
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 1200px) {
  .gizmo_item {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .gizmo_item {
    width: 80%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 600px) {
  .gizmo_item {
    width: 100%;
  }
}
.gizmo_item:hover .image::after {
  bottom: 0;
}
.gizmo_item:hover .gizmo_info {
  bottom: 0;
}
.gizmo_item:hover .image img {
  transform: scale(1.2);
}
.gizmo_item:hover .fa-eye {
  opacity: 0;
}
.gizmo_item .image {
  position: relative;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gizmo_item .image::after {
  transition: 0.8s ease-in;
  position: absolute;
  bottom: -100%;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgb(0, 0, 0) 30%, rgba(0, 0, 0, 0.5) 80%, rgba(0, 0, 0, 0) 100%);
}
.gizmo_item .image img {
  width: auto;
  transition: 1s;
  height: 100%;
}
@media screen and (max-width: 1200px) {
  .gizmo_item .image img {
    height: 120%;
  }
}
.gizmo_item .image .fa-eye {
  transition: 0.5s ease-out;
  color: #f5f5f5;
  position: absolute;
  font-size: 20px;
  background-color: rgba(255, 99, 57, 0.5);
  padding: 8px;
  border-radius: 12px;
}
.gizmo_item .gizmo_info {
  transition: 1.2s ease-in-out;
  padding: 20px;
  position: absolute;
  bottom: -400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gizmo_item .gizmo_info .info_text {
  line-height: 1.6;
  font-size: 14px;
}
.gizmo_item .gizmo_info i {
  margin-bottom: 20px;
  font-size: 32px;
  color: #ff6339;
}

.careers .job {
  display: flex;
  flex-direction: column;
}
.careers .job .performance {
  width: 80%;
  margin: 0 auto;
}
@media screen and (max-width: 428px) {
  .careers .job .performance {
    width: 100%;
  }
}
.careers .job li {
  display: flex;
  padding-bottom: 12px;
  color: #f5f5f5;
  line-height: 1.5;
}
.careers .jobName {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.5;
}
.careers .jobName:hover i {
  animation: bounce 0.5s infinite;
  color: #ff6339;
}
.careers .jobName .title_sm {
  text-align: center;
  width: 432px;
  padding: 40px 0;
  margin: 0;
}
.careers .jobName i {
  margin: 0;
  border: none;
  cursor: pointer;
  font-size: 12px;
  padding: 20px;
  margin-left: 10px;
}
.careers .period {
  text-align: center;
  padding-top: 12px;
}

.footer {
  border-radius: 40px 40px 0 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1920px;
  padding: 40px 10vw;
  background-color: rgba(245, 245, 245, 0.8);
  color: black;
}
@media screen and (max-width: 768px) {
  .footer {
    padding: 60px 10vw;
  }
}
@media screen and (max-width: 428px) {
  .footer {
    padding: 40px 5vw;
  }
}
.footer .title_md {
  color: #ff6339;
  text-align: center;
  font-family: "Alfa Slab One", "Noto Sans TC";
  font-weight: normal;
  margin: 0;
}
.footer .footer_text {
  width: 30%;
  min-width: 336px;
}
@media screen and (max-width: 1080px) {
  .footer .footer_text {
    text-align: center;
  }
}

.contact .contact_theme {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
@media screen and (max-width: 1080px) {
  .contact .contact_theme {
    flex-direction: column;
    align-items: center;
  }
}
.contact .contact_info {
  display: flex;
  flex-direction: column;
  width: 30%;
}
@media screen and (max-width: 1080px) {
  .contact .contact_info {
    width: 80%;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 20px 0;
    padding-bottom: 20px;
    border-bottom: solid 1px #333;
  }
}
@media screen and (max-width: 768px) {
  .contact .contact_info {
    flex-direction: column;
  }
}
.contact .contact_info .contact_item {
  display: flex;
  justify-content: center;
}
.contact .contact_info .contact_item i {
  padding-right: 20px;
  font-size: 20px;
  line-height: 1.6;
}
.contact .contact_info .title_sm {
  width: 208px;
  line-height: 1.5;
  margin: 0;
}
@media screen and (max-width: 1080px) {
  .contact .contact_info .title_sm {
    padding-right: 40px;
  }
}
.contact .contact_info .title_sm span {
  font-weight: normal;
  font-size: 16px;
}

.media {
  display: flex;
  width: 30%;
  justify-content: flex-end;
}
@media screen and (max-width: 1080px) {
  .media {
    width: 40%;
    justify-content: space-between;
  }
}
@media screen and (max-width: 1080px) {
  .media {
    width: 336px;
  }
}
.media .media_item {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  font-size: 20px;
  border-radius: 50%;
  margin-right: 10px;
  border: solid 1px #333;
  transition: 0.3s ease-in;
}
@media screen and (max-width: 1080px) {
  .media .media_item {
    margin-right: 0;
  }
}
.media .media_item:hover, .media .media_item:active {
  background-color: rgba(245, 245, 245, 0.5);
  border: none;
  color: #ff6339;
  box-shadow: 0 0 4px rgba(51, 51, 51, 0.2);
}