/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Noto+Sans+TC:wght@400;600;800&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  display: block;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  border: none;
}

body {
  color: #f5f5f5;
  font-family: "Noto Sans TC", sans-serif;
}

.title_big {
  font-family: "Alfa Slab One", "Noto Sans TC";
  letter-spacing: 1px;
  color: #ff6339;
  font-size: 32px;
  text-align: center;
}

.title_md {
  font-size: 28PX;
  font-weight: 600;
  margin-bottom: 40px;
}

.title_sm {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

p {
  line-height: 1.6;
}

.important-text {
  color: #ff6339;
}

.title_header {
  font-family: "Alfa Slab One";
  font-size: 28px;
  color: #ff6339;
}

.scroll-nav {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.text-center {
  text-align: center;
}

* {
  outline: solid 1px red;
}

.wrapper {
  font-size: 16px;
  background-image: url(../images/bg.jpg);
  background-size: cover;
}

section {
  width: 100%;
  padding: 80px 18.75vw;
}

a {
  color: #f5f5f5;
}

.image {
  font-size: 0;
}
.image img {
  width: 100%;
}

.line {
  width: 80px;
  height: 2px;
  background-color: #ff6339;
  margin: 12px auto 40px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;
  padding: 0 10vw;
  font-size: 20px;
  background-color: #f5f5f5;
  box-shadow: 0 2px 20px rgba(51, 51, 51, 0.2);
}

.header_name {
  font-family: serif;
}

.header_menu_list {
  display: flex;
}
.header_menu_list li {
  padding: 12px;
}
.header_menu_list .scroll-nav {
  color: #333;
}

.layer {
  height: 720px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lead {
  padding: 8px 0;
}

.fa-chevron-down {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  color: #f5f5f5;
  border: solid 1px #f5f5f5;
  transition: 0.5s;
}
.fa-chevron-down:hover {
  color: #ff6339;
  border-color: #ff6339;
}

.photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin: 60px 0;
}

.myName {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 600;
  padding: 20px 0;
}

.section_skills {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skill_block {
  border: solid 5px rgba(245, 245, 245, 0.2);
  border-radius: 16px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.skill_block.back-end, .skill_block.software-dev {
  width: 46%;
  margin: 40px 0;
}
.skill_block ul {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.skill_block li {
  display: flex;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 20px;
}
.skill_block li i {
  width: 32px;
  font-size: 28px;
  margin-right: 12px;
  color: rgba(255, 99, 57, 0.5);
}
.skill_block li .skill_logo {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  border-radius: 4px;
  margin-right: 20px;
  background-color: rgba(255, 99, 57, 0.5);
}
.portfolio-item {
  width: 100%;
  display: flex;
}
.portfolio-item .image {
  opacity: 0.5;
}
.portfolio-item .title_big {
  color: #fff;
  font-size: 30px;
  margin-bottom: 40px;
}
.portfolio-item .portfolio-description {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}