
@import './reset/reset';
@import './base/color';
@import './base/font';
@import './mixin/mixin';

//layout
// @import './layout/header';
// @import './layout/footer';

//
$padding-t:18.75vw;
$padding-p:10vw;



//index
*{outline: solid 1px red;}


.wrapper{
    font-size: 16px;
    background-image: url(../images/bg.jpg);
    background-size: cover;
    
}
section{
    width: 100%;
    padding: 80px $padding-t;
}
a{
    color: $white;
}
.image{
    font-size: 0;
    img{
        width: 100%;
    }
}
.line{
    width: 80px;
    height: 2px;
    background-color: $red;
    margin: 12px auto 40px;
}
.none{
    display: none;
}
.text_circle{
    display: flex;
    align-items: center;
    justify-content: center;        
    min-width: 28px;
    height: 28px;
    border-radius: 4px;
    background-color: rgba($red,.5);
    margin-right: 16px;
}
//animation
@keyframes bounce {
    25% {
      transform: translateY(.25rem);
    }
    75% {
      transform: translateY(-.25rem);
    }
}

//header
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    // JS控制 scroll
    height: 80px;
    width: 100%;
    padding:0 $padding-p;
    font-size: 20px;
    // JS控制 scroll
    background-color: $white;
    box-shadow: 0 2px 20px rgba($black,.2);
}
.header_name{
    font-family: serif;
}

.header_menu_list{
    display: flex;
    li{
        padding: 12px;
    }
    .scroll-nav{
        color: $black;
    }
}

// #home
.layer{
    height: 720px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.lead{
    padding: 8px 0;
}
.fa-chevron-down{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    color: $white;
    border: solid 1px $white;
    transition:.5s;
    &:hover{
        color: $red;
        border-color: $red;;
    }
}
.photo{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: 60px 0;
}
.myName{
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 600;
    padding: 20px 0;
}
//about
//skill
.skill{
    
}
.section_skills{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}
.skill_block{
    border: solid 5px rgba($white,.2);
    border-radius: 16px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    &.back-end,&.software-dev{
        width: 46%;
        margin: 40px 0;
    }
    ul{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    li{
        display: flex;
        align-items: center;
        margin-right: 20px;
        margin-bottom: 20px;
        i{
            width: 32px;
            font-size: 28px;
            margin-right: 12px;
            color: rgba($red,.5);
        }
        .skill_logo{
            width: 32px;
            height: 32px;
            display: flex;
            justify-content: center;
            align-items: center;
            justify-content: center;
            background-color:$white;
            border-radius: 4px;
            margin-right: 20px;
            background-color: rgba($red,.5);
        }
     
    }
}
//Portfolio
.portfolio{
    .card{
        display: flex;
        max-width: 720px;
        max-height: 320px;
        margin: 0 auto;
        &:hover{
            .image{
                left: 0;
                opacity:1;
            }
            .title_big{
                left: 0; 
            }
        }
    }
}

.portfolio-item{
    margin-bottom: 80px;
    
    .image{
      transition:.5s;
      position: relative;
      left: 50px;
      opacity:.5;  
      width: 50%;
      overflow: hidden;
      display: flex;
      justify-content: center;
      img{
        width: 100%;
      } 
    }
    .title_big{
        transition:.8s;
        color: $white;
        font-size: 36px;
        text-align: left;
        position: relative;
        left: -80px;
    }
    .portfolio-description{
        padding: 32px 20px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        width: 50%;
    }
    .btns{
        display: flex;
        margin-top: 20px;
        justify-content: space-between;
    }
    .btn{
        display: flex;
        align-items: center;
        white-space: nowrap;
        &:hover{
            i{
                color: $red;
                transition: .5s;
            }
        }
        p{
            margin-right: 12px;
        }
        i{
            font-size: 24px;
            margin-right: 24px;
        }
    }
}
.project-info{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .line{
        background-color: #fff;
        margin-bottom: 20px;
        margin-top: 12px;
    }
    .title_sm{
        margin-bottom: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover{
            cursor: pointer;
            i{
                animation: bounce .5s infinite;
                color:$red;
            }
        }
        i{
            margin: 0;
            border: none;
            font-size: 12px;
        }
    }
    .tools{
        margin-bottom: 20px;
        width: 100%;
        text-align: center;
        p{
            color: $red;
        }
    }
    .methods{
        line-height: 1.6;
        width: 100%;
    }
    ol{
        width: 720px;
        margin: 0 auto;
    }
    li{
        display: flex;
        align-items: flex-start;
        padding-bottom: 12px;
    }
    

}

// gizmo
.gizmo{
    padding: 40px 10vw;
    position: relative;
    &::after{
        content:"";
        width: 100%;
        height: 100%;
        pointer-events: none;
        position: absolute;
        left: 0;
        top: 0;
        background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.8) 10%, rgba(0,0,0,0.1) 20%, rgba(0,0,0,0.1) 80%, rgba(0,0,0,0.8) 90%, rgba(0,0,0,1) 100%);

    }
}
.gizmo_theme{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;  
}
.gizmo_item{
    width: 25%;
    overflow: hidden;
    position: relative;
    
    &:hover{
        .image::after{
            bottom: 0;
        }
        .gizmo_info{
            bottom: 0;
        }
        .image{
            img{
                transform: scale(1.2);   
            }
            
        }
        .fa-eye{
            opacity:0;
        }
    }

    .image{
        position: relative;
        height: 240px;
        display: flex;
        justify-content: center;
        align-items: center;
        &::after{
            transition:.8s ease-in;
            position: absolute;
            bottom: -100%;
            left: 0;
            content: "";
            width: 100%;
            height: 100%;
            background: linear-gradient(0deg, rgba(0,0,0,1) 30%, rgba(0,0,0,0.5) 80%, rgba(0,0,0,0) 100%);

           
        }
        img{
            width: auto;
            transition: 1s;
            height: 100%;
            
        } 
        .fa-eye{
            transition: .5s ease-out;
            color:$white;
            position: absolute;
            z-index: 100;
            font-size: 20px;
            background-color:rgba($red,.5);
            padding: 8px;
            border-radius: 12px;
            
        }  
    }
    .gizmo_info{
        transition:1.2s ease-in-out;
        padding: 20px;
        position: absolute;
        bottom: -400px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .info_text{
            line-height: 1.6;
            font-size: 14px;
        }

        i{ 
            margin-bottom: 20px;
            font-size: 32px;
            color:$red;
        }
    }
}

//careers
.careers{

    .job{
        
        display: flex;
        flex-direction: column;

        ol{
            width:80%;
            margin: 0 auto;
        }
        li{
            display: flex;
            //align-items: flex-start;
            padding-bottom: 12px;
            color:#f5f5f5;
            line-height: 1.5;
          
        }
    }
    .jobName{
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover{
            i{
                animation: bounce .5s infinite;
                color:$red;
            }
        }
        .title_sm{
            padding: 40px 0;
            margin: 0;
        }
        i{
            margin: 0;
            border: none; 
            cursor: pointer;
            margin-left: 20px;
        }
    }
    .period{
        text-align: center;
    }

}