
@import './reset/reset';
@import './base/base';
@import './base/color';
@import './base/font';
@import './mixin/mixin';

//layout
// @import './layout/header';
// @import './layout/footer';



//index
//*{outline: solid 1px red;}


.wrapper{
    font-size: 16px;
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: top 0 left 0%;
}
section{
    max-width:1920px;
    width: 100%;
    padding: 80px $padding-t;

    @include p(){
        padding: 80px $padding-p; 
    }
    @include m(){
        padding:  40px $padding-m;
    }

}
a{
    color: $white;
}
.image{
    font-size: 0;
    img{
        width: 100%;
    }
}
.line{
    width: 80px;
    height: 2px;
    background-color: $red;
    margin: 12px auto 40px;
}
.none{
    display: none;
}
.text_circle{
    display: flex;
    align-items: center;
    justify-content: center;        
    min-width: 28px;
    height: 28px;
    border-radius: 4px;
    background-color: rgba($red,.5);
    margin-right: 16px;
}
//animation
@keyframes bounce {
    25% {
      transform: translateY(.25rem);
    }
    75% {
      transform: translateY(-.25rem);
    }
}

//header
.header{
    position: fixed;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // JS控制 scroll
    height: 80px;
    width: 100%;
    max-width:1920px;
    padding:0 $padding-p;
    font-size: 20px;
    // JS控制 scroll
    background-color: rgba($white,1);
    box-shadow: 0 2px 20px rgba($black,.2);

    transition: height 0.3s, background-color 0.3s;
    @include m(){
        padding: 0 $padding-m;
    }

    //JS控制滾動時加上
    &.scrolled{
        height: 48px;
        background-color: rgba($white,.9);
        // .header_menu_list{
        //     .scroll-nav{
        //         color: $white;
        //     }
        // }
    }
}

.header_bar{
    width: 32px;
    height: 32px;
    border-radius: 16%;
    cursor: pointer;
    transition: .3s;
    border: solid 1px $red;
    font-size: 20px;
    color: $red;
    &:hover{
        background-color: $red;
        color: $white;
    }
    @include p(){
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.header_menu_list{
    display: flex;
    @include p(){
        transition:transform .5s ease;
        position: absolute;
        left: 0;
        bottom: 100px;  //關閉的狀態
        //bottom: -280px; //打開的狀態
        width: 100%;
        flex-direction: column;
        align-items: center;
        border-top: solid 1px #ccc;
    }
    li{
        padding: 12px;
        @include p(){
            padding: 0;
            width: 100%;
            display: flex;
            justify-content: center;
            
        }
        
    }
    .scroll-nav{
        color: $black;
        transition: .3s;
        &:hover,&:active{
            color:$red;
        }
        @include p(){
            width: 100%;
            padding: 20px;
            text-align: center;
            background-color: $white;
            &:hover,&:active{
                background-color: #eeeeeef3;
            }
            
        }
    }
}


.fa-chevron-down{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    border: solid 1px $white;
    transition:.5s;
    &:hover{
        color: $red;
        border-color: $red;  
    }
}

// #home
.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 80px;
    .scroll-nav{
        animation: bounce .6s infinite;
    }
}
.lead{
    padding: 8px 0;
    margin-bottom: 60px;
}

.photo{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: 120px 0 80px;
}
.myName{
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 600;
    padding: 20px 0;
    margin-bottom: 0;
}
//about
//skill
.skill{
}
.section_skills{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}
.skill_block{
    width: 100%;
    border: solid 5px rgba($white,.2);
    border-radius: 16px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    @include d(500px){
        margin-bottom: 20px;
    }
    

    &.back-end,&.software-dev{
        width: 46%;
        margin: 40px 0;
        @include d(500px){
            width: 100%;
            margin: 0;
            margin-bottom: 20px;
        }
    }
    ul{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    li{
        display: flex;
        align-items: center;
        margin-right: 20px;
        margin-bottom: 20px;
        i{
            width: 32px;
            font-size: 28px;
            margin-right: 12px;
            color: rgba($red,.5);
        }
        .skill_logo{
            width: 32px;
            height: 32px;
            display: flex;
            justify-content: center;
            align-items: center;
            justify-content: center;
            background-color:$white;
            border-radius: 4px;
            margin-right: 20px;
            background-color: rgba($red,.5);
        }
     
    }
}
//Portfolio
.portfolio{
    @include p(){
        padding: 40px $padding-p;
    }
    .card{
        display: flex;
        max-width: 720px;
        margin: 0 auto;
        @include p(){
            flex-direction: column;
        }
        
        &:hover{
            .image{
                left: 0;
                opacity:1;
            }
            .title_big{
                left: 0; 
            }
        }
    }
}

.portfolio-item{
    margin-bottom: 80px;
    &.project2{
        margin-bottom: 0;
    }
    @include p(){
        padding-bottom: 40px;
        border-bottom: solid 1px rgba($white,.5);
    }
    
    .image{
      transition:.5s;
      position: relative;
      left: 50px;
      opacity:.5;  
      width: 50%;
      overflow: hidden;
      display: flex;
      justify-content: center;
      @include p(){
        left: 0;
        opacity:1;
        width: 280px;  
        height: 280px;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba($red,.3);
        margin: 0 auto;
      }
      img{
        width: auto;
        @include p(){
            width: 100%;
        }
        
      } 
    }
    .title_big{
        transition:.8s;
        color: $white;
        font-size: 36px;
        text-align: left;
        position: relative;
        left: -80px;
        white-space: nowrap;
        @include p(){
            left: 0;
            margin: 0 auto 32px;
        }
    }
    .portfolio-description{
        padding: 32px 20px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        width: 50%;
        @include p(){
            width: 100%;
            padding: 32px 0 0;
        }
    }
    .btns{
        display: flex;
        justify-content: space-between;
        @include d(1000px){
            flex-direction: column;
        }
        @include p(){
            flex-direction: row;
            justify-content: center;
            padding-top: 20px;
        }
    }
    .btn{
        display: flex;
        align-items: center;
        white-space: nowrap;
        @include d(1000px){
            margin-bottom: 10px;
        }

        &:hover{
            i{
                color: $red;
                transition: .5s;
            }
        }
        p{
            margin-right: 20px;
   
        }
        i{
            font-size: 24px;
            margin-right: 24px;
        }
    }
}
.project-info{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .line{
        background-color: #fff;
        margin-bottom: 20px;
        margin-top: 12px;
    }
    .title_sm{
        margin-bottom: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover{
            cursor: pointer;
            i{
                animation: bounce .5s infinite;
                color:$red;
            }
        }
        i{
            margin: 0;
            border: none;
            font-size: 12px;
        }
    }
    .tools{
        width: 100%;
        text-align: center;
        p{
            color: $red;
        }
    }
    .methods{
        line-height: 1.6;
        width: 100%;
    }
    ol{
        max-width: 720px;
        margin: 0 auto;
    }
    li{
        display: flex;
        align-items: flex-start;
        padding-bottom: 12px;
    }
    

}

// gizmo
.gizmo{
    padding: 40px $padding-p;
    position: relative;
   
    &::after{
        content:"";
        width: 100%;
        height: 100%;
        pointer-events: none;
        position: absolute;
        left: 0;
        top: 0;
        background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.8) 10%, rgba(0,0,0,0.1) 20%, rgba(0,0,0,0.1) 80%, rgba(0,0,0,0.8) 90%, rgba(0,0,0,1) 100%);

    }

}
.gizmo_theme{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;  
}
.gizmo_item{
    width: 25%;
    overflow: hidden;
    position: relative;
    @include t(){
        width: 50%;
    }
    @include p(){
        width: 80%;
        margin: 0 auto;
    }
    @include d(600px){
        width: 100%;
    }
    
    
    &:hover{
        .image::after{
            bottom: 0;
        }
        .gizmo_info{
            bottom: 0;
        }
        .image{
            img{
                transform: scale(1.2);   
            }
        }
        .fa-eye{
            opacity:0;
        }
    }

    .image{
        position: relative;
        height: 240px;
        display: flex;
        justify-content: center;
        align-items: center;
        &::after{
            transition:.8s ease-in;
            position: absolute;
            bottom: -100%;
            left: 0;
            content: "";
            width: 100%;
            height: 100%;
            background: linear-gradient(0deg, rgba(0,0,0,1) 30%, rgba(0,0,0,0.5) 80%, rgba(0,0,0,0) 100%);
        }
        img{
            width: auto;
            transition: 1s;
            height: 100%;
            @include t(){
                height: 120%; 
            }
            
        } 
        .fa-eye{
            transition: .5s ease-out;
            color:$white;
            position: absolute;
            font-size: 20px;
            background-color:rgba($red,.5);
            padding: 8px;
            border-radius: 12px;
            
        }  
    }
    .gizmo_info{
        transition:1.2s ease-in-out;
        padding: 20px;
        position: absolute;
        bottom: -400px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .info_text{
            line-height: 1.6;
            font-size: 14px;
        }

        i{ 
            margin-bottom: 20px;
            font-size: 32px;
            color:$red;
        }
    }
}

//careers
.careers{

    .job{
        
        display: flex;
        flex-direction: column;

        .performance{
            width:80%;
            margin: 0 auto;
            @include m(){
                width: 100%;
            }
        }
        li{
            display: flex;
            padding-bottom: 12px;
            color:#f5f5f5;
            line-height: 1.5;
          
        }
    }
    .jobName{
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1.5;
        &:hover{
            i{
                animation: bounce .5s infinite;
                color:$red;
            }
        }
        .title_sm{
            text-align: center;
            width: 432px;
            padding: 40px 0;
            margin: 0;
        }
        i{
            margin: 0;
            border: none; 
            cursor: pointer;
            font-size: 12px;
            padding: 20px;
            margin-left: 10px;
        }
    }
    .period{
        text-align: center;
        padding-top: 12px;
    }

}


//footer
.footer{
    border-radius: 40px 40px 0 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width:1920px;
    padding:  80px $padding-p;
    background-color: rgba(#f5f5f5,.8);
    color:black;
    @include p(){
        padding:  40px $padding-p;
    }
    @include m(){
        padding:  40px $padding-m;
    }

    .title_md{
        color:$red;
        text-align: center;
        font-family: 'Alfa Slab One','Noto Sans TC';
        font-weight: normal;
        margin: 0;
    }
    .line{
        
    }
    .footer_text{
        width: 30%;
        min-width: 336px;
        @include d(1080px){
            text-align: center;
        }
    }
}
//contact
.contact{
    
   .contact_theme{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        @include d(1080px){
            flex-direction: column;
            align-items: center;
        }
        
   }
   .contact_info{
        display: flex;
        flex-direction: column;
        width: 30%;
        @include d(1080px){
            width: 80%;
            flex-direction: row;
            justify-content: space-between;
            margin: 20px 0;
        }
        @include p(){
            flex-direction: column;
        }
        
        .contact_item{
            display: flex;
            justify-content: center;
            i{
                padding-top: 10px;
                padding-right: 20px;
                font-size: 20px;
                line-height: 1.6;
            }
        }
        .title_sm{
            width: 208px;
            line-height: 1.5;
            margin: 0;
            padding-top: 10px;
            @include d(1080px){
                padding-right: 40px;
            }
            span{
                font-weight: normal;
                font-size: 16px;
            }
        }
   }
}
.media{
    display: flex;
    width: 30%;
    justify-content: flex-end;
    @include d(1080px){
        width: 40%; 
        justify-content: space-between;
    }
    @include d(1080px){
        width: 336px;
        margin-top: 10px;
        padding-top: 32px;
    }
    @include p(){
        border-top: solid 1px $black;
    }
    .media_item{
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        color:$black;
        font-size: 20px;
        border-radius: 50%;
        margin-right: 10px;
        border: solid 1px $black;
        transition:.3s ease-in;
        @include d(1080px){
            margin-right: 0;
        }
        &:hover,&:active{
            background-color: rgba($white,.5);
            border:none;
            color:$red;
            box-shadow: 0 0 4px rgba($black,.2);
        }
    }
}