//font-family: 'Alfa Slab One'
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

// font-family: 'Noto Sans TC', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Noto+Sans+TC:wght@400;600;800&display=swap');



body{
    color:$white;
    font-family: 'Noto Sans TC', sans-serif;
}
.title_big{
    font-family: 'Alfa Slab One','Noto Sans TC';
    letter-spacing: 1px;
    color: $red;
    font-size: 32px;
    text-align: center;
}
.title_md{
    font-size: 28PX;
    font-weight: 600;
    margin-bottom: 40px;
}
.title_sm{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
p{
    // font-size: 16px;
    line-height: 1.6;
}

.important-text{
    font-weight: 600;
    color: $red;
    display: inline-block;
}


.title_header{
    font-family: 'Alfa Slab One';
    font-size: 28px;
    color: $red;
}
.scroll-nav{
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
}
.text-center{
    text-align: center;
}